@charset "utf-8";

body {
	font-size: 12px;
	background-image: url("../resources/images/welcomeimg.png");
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	font-weight: normal;
	background-size: 120%;
	background-repeat: no-repeat;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

#header {
	background-color: #ffffff;
	color: #fff;
}

.ui-toolbar {
	background: #a50d12;
	border-radius: 0px;
	height: 35px;
	padding-top: 10px;
	margin: 0;
}

.textwelcome {
	color: red;
}

h1 {
	font-size: 30px;
	font-weight: 500;
	padding: 1px 0px;
	margin: 0px;
	color: red;
	margin-top: 200px;
}

footer {
	padding: 0px 0px;
	margin-bottom: 10px;
	text-align: center;
}